body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 1.2em;
}

.game button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game button#resetButton {
    background-color: #FF5733;
    color: white;
}

.game button#resetButton:hover {
    background-color: #d42d13;
}

.game button#startButton {
    background-color: #33FF57;
    color: white;
}

.game button#startButton:hover {
    background-color: #17b917;
}
